@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.App {
  text-align: center;
}
body {
  font-family: "lora";
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

#lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/************************ NAVBAR *********************************/

.navbar {
  background-color: whitesmoke;
}

.logo {
  width: 16.25rem;
}

/*-------- MENU LINKS ---------*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
  padding-left: 30px;
  padding-right: 30 px;
  }

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid rgb(190, 72, 211);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid rgb(190, 72, 211);
}